<div ng-controller="appointmentsController">
	<a href="#/dashboard">Dashboard</a> | <a href="#/">Logout</a>
	<h1>New Appointment</h1>
	<form name="form">
		Date: <input type="date" ng-model="newAppt.date" required>
		<span ng-show="dateError == true" ng-hide="dateError == false">Date is not valid.</span>
		<span ng-show="amountError == true" ng-hide="amountError == false">Too many appointments on that day!</span><br>
		Time: <input type="time" ng-model="newAppt.time" required>
		<span ng-show="timeError == true" ng-hide="timeError == false">We are not open at that time</span><br>
		<label>Complaint:</label><textarea rows="3" cols="15" ng-model="newAppt.title" required></textarea><br>
		<button href="#/dashboard">Cancel</button><button ng-click="addAppt()">Add Appointment</button>
	</form>
</div>