<div ng-controller="dashboardController">
	<p>Welcome {{user.name}}!</p>
	<button ng-click="logout()">Logout</button>
	<form name="form">
		<label>Title: 
			<input type="text" 
						 name="title" 
						 ng-model="newActivity.title" 
						 ng-minlength="5"
						 required />
		</label>
		<span ng-messages="form.title.$error">
			<span ng-message="required">Title required</span>
			<span ng-message="minlength">Title must be longer than 5 characters</span>
		</span>
		<br>
		<label>Description: 
			<input type="text" 
						 name="description" 
						 ng-model="newActivity.description" 
						 ng-minlength="10"
						 required />
		</label>
		<span ng-messages="form.description.$error">
			<span ng-message="required">Description required</span>
			<span ng-message="minlength">Description must be longer than 10 characters</span>
		</span>
		<br>
		User:
		<select ng-model="newActivity._user" name="user" required>
			<option value="{{user._id}}" ng-repeat="user in users">{{user.name}}</option>
		</select>
		<span ng-messages="form.user.$error">
			<span ng-message="required">User required</span>
		</span>
		<br>
		<button ng-click="addActivity()">Add to List</button>
	</form>

	<p>Before I die I want to...</p>
	<p ng-repeat="activity in activities.activities">
		<button ng-click="toggleCheck(activity._id)"> Done? {{activity.check}}</button>
		{{activity._user.name}} | {{activity.title}} - {{activity.description}}... - {{activity.date | date: 'short'}} 
	</p>

	<p>List of logged users (Click to view profile): </p>
	<p ng-repeat="user in users"><a href="#user/{{user._id}}">{{user.name}}</a></p>
</div>